<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Coach蔻驰官方账号</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/src/dist/css/style.css" />
    <!--<script src="/src/dist/js/all_home.min.js"></script>-->
</head>
<body class="page-home">
<div class="preload">
    <div class="v-content"></div>
</div>
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--main content-->
<div class="wrapper">
    <div class="container">
        <!-- exchange-->
        <div class="pin pin-1 current" id="pin-exchange">
            <div class="logo">
                <img src="/src/images/logo.png" alt="coach"/>
            </div>
            <div class="userinfo-block">
                <div class="avatar">
                    <img src="/src/images/logo.png" alt=""/>
                </div>
                <div class="stars">
                    <span class="progress" style="width:33%"></span>
                </div>
            </div>
            <div class="total-score">
                当前累计人气: <span class="num">520</span>
            </div>
            <div class="p1-t1">再接再励，召集蜜友来助力</div>
            <div class="show-personal">
                查看/修改个人信息
            </div>
            <ul class="product-lists">
                <li class="item">
                    <div class="p-img">
                        <img src="/src/images/logo.png" alt=""/>
                    </div>
                    <div class="p-title">
                        1元红包
                    </div>
                    <div class="p-price">
                        需要100积分
                    </div>
                    <div class="p-number">
                        剩余6件
                    </div>
                    <div class="btn btn-buy">
                        兑 换
                    </div>
                </li>
                <li class="item">
                    <div class="p-img">
                        <img src="/src/images/logo.png" alt=""/>
                    </div>
                    <div class="p-title">
                        1元红包
                    </div>
                    <div class="p-price">
                        需要100积分
                    </div>
                    <div class="p-number">
                        剩余6件
                    </div>
                    <div class="btn btn-buy">
                        兑 换
                    </div>
                </li>
                <li class="item">
                    <div class="p-img">
                        <img src="/src/images/logo.png" alt=""/>
                    </div>
                    <div class="p-title">
                        1元红包
                    </div>
                    <div class="p-price">
                        需要100积分
                    </div>
                    <div class="p-number">
                        剩余6件
                    </div>
                    <div class="btn btn-buy">
                        兑 换
                    </div>
                </li>
            </ul>
        </div>
        <!-- form-->
        <div class="pin pin-2">
            <div class="logo">
                <img src="/src/images/logo.png" alt="coach"/>
            </div>
            <form id="form-contact" class="">
                <p class="title">
                    完善你的个性信息<br>
                    我们将礼品邮寄给你
                </p>
                <div class="form-information">
                    <div class="input-box input-box-name">
                        <input type="text" id="input-name" placeholder="姓名 / NAME"/>
                    </div>
                    <div class="input-box input-box-mobile">
                        <input type="tel" maxlength="11" id="input-mobile" placeholder="手机 / MOBILE PHONE"/>
                    </div>
                    <div class="input-box input-box-address">
                        <input type="text" id="input-address" placeholder="地址 / ADDRESS"/>
                    </div>
                </div>
                <div class="btn btn-submit">提交</div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
