<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Coach蔻驰官方账号</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/src/dist/css/style.css" />
    <!--<script src="/src/dist/js/all_home.min.js"></script>-->
</head>
<body class="page-home">
<div class="preload">
    <div class="v-content"></div>
</div>
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--main content-->
<div class="wrapper">
    <div class="container" id="pin-join">
        <div class="logo">
            <img src="/src/images/logo.png" alt="coach"/>
        </div>
        <p class="slogan">
            你的专属二维码已经准备就绪
            召集蜜友来助力，扫描积分赢人气
            Coach多重惊喜正在前方召唤
            姐姐妹妹站起来，这次宝贝都靠你
        </p>
        <div class="block-qr">
            <div class="product-1">
                <img src="/src/images/product-1.jpg" alt="product"/>
            </div>
            <div class="qr">
                <img src="/src/images/sample-qrcode.jpg" alt="sample qrcode"/>
            </div>
        </div>
        <div class="btn btn-exchange">积分兑换</div>
        <div class="link">活动细则</div>
    </div>
</div>
<div class="popup pop-rules show">
    <div class="inner">
        <div class="btn-close"></div>
        <h3 class="rule-title">
            活动细则
        </h3>
        <div class="rule-content">
            <p>参与本活动无需以购买蔻驰产品或服务为前提。购买我们的产品或服务并不会增加你在本次活动中的获胜机会。本次活动最终解释权归蔻驰贸易（上海）有限公司所有。</p>
            <p>1. 参与资格: 任何中国公民均有资格参与蔻驰H5“爱就扫一扫”活动（以下简称本活动）。本次活动将严格遵守中华人民共和国的相关法律及法规。参与本活动表示你同意无条件完全遵守本活动细则以及活动主办方的相关决定。</p>
            <p>2. 活动主办方: 蔻驰贸易（上海）有限公司
                南京西路1717号会德丰广场20楼，200042.</p>
            <p>3. 活动时间: 本活动日期由北京时间（日期），活动主办方的电脑时间为本次活动的官方时间标准。</p>
            <p>4. 怎样参与本次活动: 在活动期间，所有参与蔻驰2017三八妇女节H5活动的用户，根据活动指引，完成挂件定制，并提交个人信息，即有资格参与抽奖活动，活动主办方有义务在活动期间保证活动功能可被正常使用。</p>
            <p>5. 获奖者的认证: 所有的活动参与者都必须满足活动细则中的所有条款。获取奖品的先决条件是必须完成所有相关的任务。主办方不会接受截图或者其他的证据来验证获奖资格。在活动期间，如果在系统出现问题时产生的结果是不会被视作有效的。活动主办方在法律允许范围内负责制定、解释、修改并及时公布本次活动的规则，并最终确定获奖者。</p>
            <p>6. 奖品: 由用户本人定制的蔻驰精美挂件一份（数量有限，送完为止）。</p>
            <p>7. 活动信息公告: 本次所有参与活动的用户信息，都将默认成为Coach尊贵的客户（会员）。在符合法律相关规定的情况下，获奖者必须同意活动主办方在媒体上披露获奖者的姓名，微信头像与信息，语音，意见，身份信息和居住城市，主办方并不需要为此再支付额外费用或另行通知。活动主办方有权依据相关法律法规或业务需要，中止或取消此次活动或者修改活动方案，经相关途径公告后生效。</p>
            <p>8. 一般性条款: 如果发现欺诈，或者技术事故，或者由超出活动主办方能力控制的影响活动公正性的情况发生，活动主办方保留单方面取消或者变更本活动的相关权利。如果发生类似情况，活动主办方保留随机发送奖品給予事故发生前活动参赛者的权利。活动主办方同时保留在参赛者违反公平性原则或者利用不当行为获利的情况下单方面取消参赛者资格的权利。活动主办方保留采取法律手段追诉对于蓄意破坏和攻击活动网站的人的权利并可能要求相关赔偿。</p>
            <p>9. 豁免条款: 参与本次活动的参赛者不得采用任何直接或者间接的方式沟通或者伤害任何蔻驰贸易（上海）有限公司及其合作伙伴及和本次活动有关的任何相关公司的雇员。</p>
            <p>10. 相关责任: 活动主办方不对以下情况负责：
                1.由媒体提供的关于本次活动的任何不准确或者不精确的信息
                2.任何形式的技术故障，包括软硬件的损坏或者网络问题
                3.对于本次活动的人为的恶意破坏
                4.技术或人为的监管问题
                5.因为参加本次活动直接或间接而产生的人身伤害。
                6.如果因为技术或者收到恶意攻击等原因导致实际获奖者总人数超过事先公布的人数，活动主办方保留从中按照事先公布的获奖总数从中随机抽取的权利。
                7.由于技术问题包括但不仅限于微信软件系统问题而产生的现金红包无法使用的问题。
                8.用户对于该金额的支配和使用而产生的相关问题。
            </p>
        </div>
    </div>
</div>
</body>
</html>
