//for exchange page
#pin-exchange{
  font-size: 0.28rem;
  text-align: center;
  padding-bottom: 0.4rem;
  overflow: auto;
}

.userinfo-block{
  position: relative;
  display: block;
  width: 2rem;
  margin: 0.3rem auto;
  text-align: left;
  .avatar{
    //display: inline-block;
    @include size(0.75rem,0.75rem);
    margin: 0 auto 0.4rem;
  }
  .stars{
    //position: absolute;
    //left: 0.8rem;
    //top: 50%;
    //margin-top: -0.13rem;
    //display: inline-block;
    @include size(1.08rem,0.26rem);
    margin: 0 auto;
    background-image: url("../../images/star.png");
    background-repeat: repeat-x;
    background-color: #d1d1d1;
    background-size: auto 0.26rem;
    .progress{
      width: 0px;
      display: block;
      height: 0.26rem;
      background-image: url("../../images/star.png");
      background-repeat: repeat-x;
      background-color: #ff5454;
      background-size: auto 0.26rem;
    }
  }
}
.p1-t1{
  margin-top:0.2rem;
}
.show-personal{
  text-decoration: underline;
  margin-top:0.2rem;
  margin-bottom:0.2rem;
}

//for product-lists
.product-lists{
  text-align: left;
  .item{
    width: 41%;
    display: inline-block;
    margin-left: 6%;
    margin-top: 0.3rem;
    text-align: center;
    .p-title{
      margin: 0.4rem 0;
    }
    .btn{
      width: 100%;
      margin: 0.2rem 0 0;
      padding: .1rem 0;
    }
  }
}

//form-contact
#form-contact{
  .title{
    margin: 0.8rem 0;
  }
  .input-box{
    text-align: center;
    margin: 0 auto 0.5rem;
    input[type="text"],input[type="tel"]{
      width: 5rem;
      padding: 0.2rem 0.5rem;
      background: #f5f6f6;
      border: #cdc9c8 1px solid;
      font-size: 0.34rem;
    }
  }
  .btn{
    padding: .2rem 0;
  }
}
.error{
  color: red;
}

//for product-details-page
#product-details-page{
  z-index: 3;
  background: #fff;
  text-align: center;
  font-size: 0.28rem;
  .total-score{
    font-size: 0.32rem;
    margin-bottom: 0.6rem;
  }
  .product-wrapper{
    background: #f0f0f0;
    padding: 0.4rem 0 0.5rem;
    margin-bottom: 0.6rem;
  }
  .p-img{
    width: 3.28rem;
    margin: 0 auto 0.5rem;
  }
  .p-number{
    margin-bottom: 0.9rem;
  }
}
